* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(1, 158, 158);
    float: left;
    min-width: 100%;
}
main {
    display: flex;
    padding: 20px;
}
header {
    background-color: rgb(0, 139, 139);
    display: flex;
    position: sticky;
    top: 0;
    height: 60px;
    padding: 0px 40px;
    align-items: center;
}
#head {
    position: fixed;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.board {
    background-color: rgb(220, 220, 220);
    border-radius: 6px;
    width: 300px;
    height: 500px;
    padding: 16px;
    margin-right: 20px;
    overflow: auto;
}
.board-content {
    display: flex;
    flex-direction: column;
}
.board-last {
    margin-right: 0px;
}
h1 {
    font-size: 20px;
    margin: 6px 0px;
}
.cards {
    display: grid;
    row-gap: 10px;
}
.card {
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    padding: 20px 12px 8px 16px;
}
.progress {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-icons {
    display: flex;
    font-size: 14px;
}
.left-icons a {
    text-decoration: none;
}
.left-icons img {
    width: 16px;
}
.left-icons .item {
    margin-right: 20px;
    display: flex;
}
.left-icons span {
    margin-left: 4px;
}
.avatar img {
    width: 32px;
}